{% extends 'admin/base.html' %} 
{% block extrahead %}
{{ block.super }}

<style>
  :root {
    --primary: #c7a07ad5;
    --secondary:#6e5741c8;
    --body-bg: rgb(255, 255, 255);
    --header-color: #391800;
    --button-fg: #ffffff;
    --body-quiet-color: #063138;
    --link-fg: #292870;
    --body-fg: #335fbd;
    --accent: #f0cfae;
    --button-hover-bg: #ca925a;
    --default-button-hover-bg: #8d6945;
    --selected-bg: #ffffff;
    --selected-row: #af937e;
    --darkened-bg: #ffffff;
    --hairline-color: #b4acac98;
    --border-color: #918b8b;
    --message-success-bg: #4fe073;
    --message-warning-bg: #e9942c;
    --message-error-bg: #eb4c4c;
 
  }
</style>


{% endblock %}