{% if messages %}
<div id="message-container" class="position-fixed top-0 start-0">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} fade show" role="alert">
        {{ message }}
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    {% endfor %}
</div>
<script>
    setTimeout(function () {
        var messageContainers = document.getElementsByClassName('alert');
        for (var i = 0; i < messageContainers.length; i++) {
            var messageContainer = messageContainers[i];
            messageContainer.style.display = 'none';
        }
    }, 5000);
</script>
{% endif %}


<style>
    #message-container {
        z-index: 9999;
    }

    .alert {
        position: relative;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border-color: #c3e6cb;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }

    .alert-info {
        background-color: #d1ecf1;
        color: #0c5460;
        border-color: #bee5eb;
    }

    .alert-warning {
        background-color: #fff3cd;
        color: #856404;
        border-color: #ffeeba;
    }

    .progress {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
        margin-top: 5px;
        background-color: #555;
        border-radius: 4px;
    }

    .progress-bar {
        height: 100%;
        background-color: #333;
        transition: width 7s linear;
    }
</style>